VITE_API_URL=http://localhost:5000
VITE_SUPABASE_URL=https://ggiqggdwtbxpvjanbikq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnaXFnZ2R3dGJ4cHZqYW5iaWtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2MDM2MzMsImV4cCI6MjA4NzE3OTYzM30.K-Y70DaZRXzVSCwN_Jcly86zw5vwyvEv9sn4UpJqY5Q
